{# /** * @file * Default theme implementation to display a single page. * * The doctype, html, head and body tags are not in this template. Instead they * can be found in the html.html.twig template in this directory. * * Available variables: * * General utility variables: * - base_path: The base URL path of the Drupal installation. Will usually be * "/" unless you have installed Drupal in a sub-directory. * - is_front: A flag indicating if the current page is the front page. * - logged_in: A flag indicating if the user is registered and signed in. * - is_admin: A flag indicating if the user has permission to access * administration pages. * * Site identity: * - front_page: The URL of the front page. Use this instead of base_path when * linking to the front page. This includes the language domain or prefix. * * Page content (in order of occurrence in the default page.html.twig): * - title_prefix: Additional output populated by modules, intended to be * displayed in front of the main title tag that appears in the template. * - title: The page title, for use in the actual content. * - title_suffix: Additional output populated by modules, intended to be * displayed after the main title tag that appears in the template. * - messages: Status and error messages. Should be displayed prominently. * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the * view and edit tabs when displaying a node). * - node: Fully loaded node, if there is an automatically-loaded node * associated with the page and the node ID is the second argument in the * page's path (e.g. node/12345 and node/12345/revisions, but not * comment/reply/12345). * * Regions: * header: 'Header' * top_bar: 'Top Bar' * navigation: 'Navigation' * highlighted: 'Highlighted' * help: 'Help' * content: 'Content' * sidebar_second: 'Secondary' * footer: 'Footer' * page_top: 'Page top' * page_bottom: 'Page bottom' * - page.header: Items for the header region. * - page.navigation: Items for the navigation region. * - page.navigation_collapsible: Items for the navigation (collapsible) region. * - page.highlighted: Items for the highlighted content region. * - page.help: Dynamic help text, mostly for admin pages. * - page.content: The main content of the current page. * - page.sidebar_first: Items for the first sidebar. * - page.sidebar_second: Items for the second sidebar. * - page.footer: Items for the footer region. * * @ingroup templates * * @see template_preprocess_page() * @see html.html.twig */ #}
<div class="container">
  <div class="row">
    <div class="col-xs-12">{{ page.header }}    
      <button class="fullscreen-toggle-btn">
            <span class="lines"></span>
      </button>
    </div>

    <div class="main-menu">
      <div class="fullscreen-menu">
        <div class="fullscreen-menu-wrapper text-center">
          <div class="position-top">
            <h4>Mono</h4>
          </div>
          <div class="position-middle">
            {{ page.popup_menu }} 
          </div>
          <div class="clear"></div>
          <div class="position-bottom">
            <p class="margin-top-20">&copy; 2018 OSL, All Rights Reserved.</p>
          </div>
        </div>
        <!-- end fullscreen-menu-wrapper -->
      </div>
      <!-- end fullscreen-menu -->
    </div>

    <div class="col-xs-12">
      <div class="top-bar">
        <h1 class="display-4 font-weight-bold margin-bottom-20">Hello!</h1>
        <p class="font-weight-thin no-margin">Designers, photographers and all creatives<br />
        this template is built for you.</p>
      </div>
    </div>
  </div>
  <div class="row">
    {{ page.content }}
  </div>
  <div class="custom-menu-reveal">
    {{ page.menu_reveal }}
  </div>
</div>
