.navbar-brand{
  display: none;
}
.logo img{
  width: 50px;
}
.top-bar{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.top-bar p{
  font-size: 28px;
  line-height: 44px;
  font-weight: 100;
}

.preloader, body:after{
  display: none;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav {
    float: none;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color:transparent; 
}
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
}